/* Fonts 

Public Sans
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
.public-sans-<uniquifier> {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

/*---- All pages elements ----*/

body{
	background-color:lightgreen;
}

/*-- Navbar --*/
.navbar-brand{
	max-width:300px;
}


.navbarStyle{
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 3%;
	padding-right: 3%;
}

.navbarCenter{
    margin-left: 10%;
}
/*-- End Navbar --*/




.main{
	border: 1px solid red;
	text-align: center;
	/* width: 80%;
	margin-left: 10%;
	margin-right: 10%; */
}


/* -- Footer -- */
/* Style the footer to sit at the bottom, with top margin auto */
footer {
	clear: both;
	background-color: #f8f9fa;
	text-align: center;
	padding: 2%;
	margin-top: auto;
	width: 100%;
	border-top: 1px solid black;
}
/* -- End Footer -- */



/* Home background image */
.introText{
	background-image: url("../img/mountain.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.introTitle{
	padding: 10%;
}

#mainTitleStyle{

}

.introDes{
	width: 50%;
	text-align: center;
	border: 1px solid green;
	
	margin-left: 25%;
	margin-right: 25%;
	background-color: lightgrey;
	padding: 2%;
}


/*---------------------- HOME -----------------------*/
/*---HOME Content Section---*/
.pageContent{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid green;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.pageContent img{
	object-fit: cover;
}


.contentFloatLeft{
	width: 40%;
	margin-left: 5%;
	margin-right: 2%;
	border: 1px solid red;
	float: left;
	overflow: hidden;
	margin-bottom: 5%;
}

.contentFloatRight{
	width: 40%;
	margin-left: 2%;
	margin-right: 5%;
	border: 1px solid red;
	float: right;
	overflow: hidden;
	margin-bottom: 5%;
}
/*---------------------- END HOME -----------------------*/







/* //////////////// RESPONSIVE ///////////// */

