/* Fonts 

Public Sans
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
.public-sans-<uniquifier> {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

/*---- All pages elements ----*/

body{
	background-color:lightgreen;
}

/*-- Navbar --*/
.navbar-brand{
	max-width:300px;
}


.navbarStyle{
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 3%;
	padding-right: 3%;
}

.navbarCenter{
    margin-left: 15%;
	justify-content: flex-end;
	line-height: normal;
}

.nav-link.active, .nav-link[aria-current="page"] {
    font-weight: 600;
    /* background-color: #015326eb; */
	background-color: #108245;
    color: white;
    border-radius: 20px;
    padding: 8px 24px;
    /* border: 2px solid #ffc400; */
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show
{
    color: white !important;
}


/*--SubMenu--*/
#subMenu{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
}

#listMenu{
	display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.buttonMenu{
	padding-bottom: 0.4%;
    padding-top: 0.4%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #f8f9fa;
}


a.linkButtonMenu {
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	color: black;
}


/* Active little arrow, background colour and font colour in selected page for SUBMENU */
.buttonMenu:hover{
	background-color: #108245;
}

.buttonMenuActive::after {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #108245; /* mismo verde del botón */
	bottom: 100%;
}

.buttonMenuActive{
	background-color: #108245;
}

.buttonMenuActive a{
	color: white;
}


/*-- End Navbar --*/


/* Main container */
.main{
	border: 1px solid red;
	text-align: center;
	float: clear;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 3%;
}


/* -- Footer -- */
/* Style the footer to sit at the bottom, with top margin auto */
footer {
	clear: both;
	background-color: #f8f9fa;
	text-align: center;
	padding: 2%;
	margin-top: auto;
	width: 100%;
	border-top: 1px solid black;
}

.footerWrapper{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

footer img {
	max-width: 150px;
}

footer a{
	text-decoration: none;
    color: black;
}

footer a:hover{
    color: #108245;
}

ul.footerMenu{
    justify-content: center;
    list-style: none;
    text-align: center;
	margin: auto;
    padding-left: 0;
}

/* -- End Footer -- */



/* Home background image */
.introText{
	background-image: url("../img/mountain.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	text-align: center;
}

.introTitle{
	padding: 10%;
}

#mainTitleStyle{

}

.introDes{
	width: 50%;
	text-align: center;
	border: 1px solid green;
	
	margin-left: 25%;
	margin-right: 25%;
	background-color: lightgrey;
	padding: 2%;
}


/*---------------------- HOME -----------------------*/
/*---HOME Content Section---*/
.pageContent{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid green;
	padding-top: 5vh;
	padding-bottom: 5vh;
}


.pageContent img{
	object-fit: cover;
}


.contentCard{
	width: 40%;	
	margin-right: 2%;
	margin-left: 2%;
	border: 1px solid red;
	overflow: hidden;
	margin-bottom: 5%;
}
/*---------------------- END HOME -----------------------*/





/*---------------------- FOREST -----------------------*/






/*---------------------- END FOREST -----------------------*/





/* //////////////// RESPONSIVE ///////////// */

