/* Fonts 

Public Sans
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
.public-sans-<uniquifier> {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/


body{
	background-color:lightgreen;
}

.navbar-brand{
	width:300px;
}


.navStyle{
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 3%;
	padding-right: 3%;
}

.main{
	border: 1px solid red;
	text-align: center;
	/* width: 80%;
	margin-left: 10%;
	margin-right: 10%; */
}


/* Home background image */
.introText{
	background-image: url("../img/mountain.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	height: 55vh;
	display: block-size;
}

.introTitle{
	padding: 10%;
}

#mainTitleStyle{

}

.introDes{
	width: 50%;
	text-align: center;
	border: 1px solid green;
	margin: 2%;
	margin-left: 25%;
	margin-right: 25%;
	background-color: lightgrey;
}

/* Add bottom padding to prevent overlap */
.main, .pageIntro, .pageContent {
  padding-bottom: 40px;
}


/* Style the footer to sit at the bottom, with top margin auto */
footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  width: 100%;
  border-top: 1px solid #ccc;
}