<footer>
	<!-- List of Links -->
	<div class="footerWrapper row">
	
		<!--Logo-->
		<div class="col-md-4 col-12 mb-3">
			<img src="img/logo.png" alt="Logo designed by Malavika" />
		</div>
		<div class="col-md-4 col-12 mb-3">
			<ul class="footerMenu">
				<li>
					<a href="index.html">Home</a> 
				</li>
				
				<li> 
					<a href="goals.html">About 17 Goals</a>	
				</li>
				
				<li> 
					<a href="take_action.html">Take Action</a>
				</li>
				
				<li> 
					<a href="global.html">Global Initiatives</a>
				</li>
				
				<li> 
					<a href="contact.html">Contact Us</a>
				</li>
			</ul>			
		</div>
		<div class="col-md-4 col-12 mb-3">
			<ul class="footerMenu">
				<li>
					<a href="forest.html">Forest and Deforestation</a> 
				</li>
				
				<li> 
					<a href="biodiversity.html">Biodiversity and Wildlife</a>
				</li>
				
				<li> 
					<a href="land.html">Land Degradation and Desertification</a>
				</li>
				
				<li> 
					<a href="ecosystem.html">Ecosystem Governance</a>
				</li>
			
			</ul>	
						
		</div>
	</div>
</footer>